*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-image: linear-gradient(rgb(0, 0, 8), rgb(93, 93, 238));
height: 100vh;
}

.box{
 padding-top: 70px;
}


.cloud,.temp{
    display: flex;
    color: white;
    justify-content: center;  
}
.cloud{
    margin-top: 20px;
}

.temp p{
    font-size: 8rem;
}

.country h1{
    text-align: center;
    color: white;
    font-size: 4rem;
}
.country{
    margin-bottom: 50px;
}

.lastbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.leftbox,.rightbox{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
} 

/* .spinermid{
    width:"100px";
    height:"100px";
    position:"absolute";
    left:50%;
    bottom:50%;
    transform:translate(-50%,-50%)
} */

